.Header {
    position: fixed;
    height: 70px;
    left: 0px;
    right: 0px;
    top: 0px;
    box-sizing: border-box;
    padding: 16px 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    /* background */
    background: #ffffffb6;
    backdrop-filter: blur(10px);
}

.opaopa {
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

.nodeco {
    text-decoration: none;
    color: black;
}

.clear_font_menu {
    font-size:22px;
    font-family: FCODE;
}

.clear_font {
    font-size:20px;
    font-family: FCODE;
    text-decoration: underline;
    text-decoration-color: rgb(196, 196, 196);  
    text-underline-offset: 8px;
}

.MuiMenu-paper {

    .MuiMenu-paper {
        box-shadow: -10px -10px 20px rgba(240, 240, 243, 0), 10px 10px 20px rgba(95, 95, 95, 0);
        border-radius: 24px;
        height: 100vh !important;
        padding: 4px;
        .MuiMenuItem-root {
            margin: 16px;
            border-radius: 8px;
        }
    }
}

.mentagwrapper {
    margin: 12px;
    font-weight: 800;
    color: rgb(78, 136, 86);
}

.pd16 {
    margin-left: 16px;
    margin-right: 16px;
    background-color: rgba(163, 163, 163, 0.664);
    height: 2px;}