.HeaderFoot {
    margin: auto 0;
    text-decoration: none !important;
}

.potaruText1 {
    height: 22px;
    left: 1.31%;
    right: -22.59%;
    top: 1px;

    font-family: NSJP;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    /* identical to box height, or 114% */

    letter-spacing: 2.52px;
    color: #333333;
    cursor: pointer;
}

.potaruText1Rec {
    background: #ffffff;
    border-radius: 0px;
    border-radius: 8px;
}



