.Header {
    position: fixed;
    height: 70px;
    left: 0px;
    right: 0px;
    top: 0px;
    box-sizing: border-box;
    padding: 16px 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    /* background */
    background: #ffffff;
}

.opaopa {
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

.nodeco {
    text-decoration: none;
    color: black;
}

.clear_font {
    font-size: 18px;
    font-family: NSJP;
}

.MuiMenu-paper {

    .MuiMenu-paper {
        box-shadow: -10px -10px 20px rgba(240, 240, 243, 0.601), 10px 10px 20px rgba(95, 95, 95, 0.093);
        border-radius: 24px;
        padding: 4px;

        .MuiMenuItem-root {
            margin: 4px;
            border-radius: 12px;
        }
    }
    
}
