.MDArea {
    position: absolute;
    left: 5vw; //5% by windows
    right: 5vw; //5% by windows
    top: 140px;
    bottom: 70px;
    width: 90vw; //window 90%

    word-break: keep-all;
    
    background: #FFFFFF;
    box-shadow: -2px -2px 2px rgba(240, 240, 243, 0.42), 2px 2px 2px rgba(0, 0, 0, 0.13);
    opacity: 0;
    border-radius: 48px;
    cursor: pointer;

    animation-name: huwa_window;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 250ms;
}
  
@keyframes huwa_window {
    0% {
        box-shadow: -2px -2px 2px rgba(240, 240, 243, 0.42), 2px 2px 2px rgba(0, 0, 0, 0.13);
        opacity: 0;
    }
    100% {
        box-shadow: -10px -10px 34px rgba(240, 240, 243, 0.712), 10px 10px 34px rgba(0, 0, 0, 0.151);
        opacity: 0.85;
    }
}

.MDArea2 {
    position: absolute;
    left: 68px;
    right: 74px;
    top: 70px;
    bottom: 70px;
}