.MDArea {
    width: 95vw;
    margin: 0px 2.5vw;
    opacity: 0;
    border-radius: 48px;
    background: #ffffffdc;

    animation-name: huwa_window;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.MDArea-sc {
    width: 95vw;
    margin: 0px 2.5vw;
    opacity: 0;
    border-radius: 48px;
    background: #ffffffdc;

    animation-name: huwa_window;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.MDArea-nysh {
    width: 95vw;
    margin: 0px 2.5vw;
    background-color: #ffffffdc;
    opacity: 0;
    border-radius: 48px;

    animation-name: huwa_window;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.MDArea-in {
    width: 95vw;
    margin: 100px 2.5vw;
    margin-bottom: -70px;
    background: #ffffffdc;
    opacity: 0;
    border-radius: 48px;

    height: 500px !important;
    position: relative;
    top: 0;
    z-index: 1000;

    animation-name: huwa_window;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.pointme {
    cursor: pointer;
}

.what_the {
    cursor: pointer;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MDArea-sc2 {
    width: 256px;
    margin: 140px 2.5vw;
    margin-bottom: -70px;
    background: #ffffffdc;
    opacity: 0;
    border-radius: 48px;

    animation-name: huwa_window;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.bdroper {
    backdrop-filter: blur(10px);
}

@keyframes huwa_window {
    0% {
        opacity: 0.1;
        transform: translateY(8px);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        filter: blur(0px);
    }
}

.MDArea2 {
    width: 100%;
    height: 100%;
}

.input_bad {
    height: 500px !important;
    position: relative;
    top: 0;
    z-index: 1000;
}

.soundcloud-text {
    font-family: FCODE;
    color: #33b178;
}

.soundcloud {
    border-radius: 18px;
}

.ScaryGifWrapper {
    text-align: center;
}

.flexer {
    display: flex;
    justify-content: center;
}

.flexed_icons {
    
    margin-left: 32px;
    margin-right: 32px;
}

.MDArea3 {
    margin-top: -70px !important;
    margin-bottom: 140px;
}

.padpad {
    padding: 32px !important;
}
