.MDText {
    position: absolute;
    width: 1158px;
    height: 643px;
    left: 0px;
    right:0px;
    top: 0px;
    
    font-family: FCODE;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    
    display: flex;
    align-items: center;
    
    color: #DD5757;
}