.MDText {
    margin: 0 auto;
    max-width: 960px;
    height: 100%;
    font-family: FCODE;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #4b4b4b;

    * {
        word-break: break-all;
    }
}
