pre code  {
    display: block;
    background: #f8f8f800 !important;
    color: #cccccc;
    left: 0px;
    right:0px;
}

h2 {
    font-size: 23px !important;
    left: 0px;
    right:0px;
}

h3 {
    font-size: 19px !important;
    left: 0px;
    right:0px;
}