.nysh_back {
    background-color:aliceblue;
    width:100%;
    height: 100%;
    border-radius: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;  
    // border: 1px solid rgba(185, 185, 185, 0.336);
}

.nysh_flex {
    position: flex;
    flex-direction: column;
}

.nysh_title {
    margin-bottom: 32px;
    text-align: left;
    width:100%;
    height: 100%;
    color:#33b178;
    font-size: 24px;
}

.img_viewer {
    margin-top: 32px;
    margin-bottom: 32px;
}

.img_round {
    border-radius: 20px;
}