canvas {
  height: 100vh !important;
  opacity: 0;
  filter: blur(4px);
  animation-name: fadein-bottom;
   animation-duration: 2s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 0.76;
  }
}


div#container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
