canvas {
  filter: blur(0px);
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 350ms;
}

@keyframes fadein-bottom {
  0% {
     filter: blur(0px);
     opacity: 0;
  }
  100% {
     filter: blur(3px);
     opacity: 1;
  }
}


div#container {
  position: fixed !important;
  width: 100vw  !important;
  height: 100vh !important;
}
